body {
    font-family: "Arial sans-serif";
    background-color: aquamarine;
}

h1 {
    font-size: 38px;


}

h2 {
    font-size: 32px;

}

.ingredients-list {
    list-style: square inside;

}

section > ol {
    list-style: lower-alpha;

}

header > img {
    width: 100px;
    height: auto;

}

ul > li > a {
    color: inherit;
    text-decoration: none;

}